.user-list-wrapper {
  padding: 30px 100px;
}

.user-table {
  text-align: left;
  margin-top: 30px;
}

.user-table-sort-cell {
  cursor: pointer;
}

.user-image {
  width: 16px;
  height: 16px;
}

.user-delete {
  cursor: pointer;
}

.sort-ico {
  padding: 0 5px;
  vertical-align: text-top;
}

.invisible {
  visibility: hidden;
}